/* Since it's gonna be circle, width and height are the same. */
.hide-loader_component { display: none; }

.loader_component {
    --width: 64px;
    position: absolute;
    perspective: 1000px;
    left: calc( 85% - calc( var(--width) / 2 ) );
    top: calc( 65% - calc( var(--width) / 2 ) );
}

.loader_component-done {
    display: none;
    position: absolute;
    transform: rotateZ( 220deg );
    animation: loaderFadeIn .6s;
    width: calc( var(--width) / 6 );
    height: calc( var(--width) / 3 );
    top: calc( var(--width) / 2 - 15px );
    left: calc( var(--width) / 2 - 7px );
    border-top: 3px solid #7051c3;
    border-left: 3px solid #7051c3;
    border-top-left-radius: 3px;
}

.circle {
    top: 0;
    left: 0;
    position: absolute;
    width: var(--width);
    height: var(--width);
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.circle::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    padding: 3px;
    border-radius: 100%;
    background: linear-gradient(
        45deg,
      #a947f4 0%,
      #f24479 var(--loader_l0),
      #a947f4 var(--loader_l1), 
      #f24479 100%
    );
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude; 
}
.circle.c1 {
    animation: rx 2s infinite, gradientMove 1s infinite;
}
.circle.c2 {
    animation :ry 1s infinite, gradientMove .5s infinite;
}
.circle.c3 {
    animation: rz 1.5s infinite, gradientMove .75s infinite;
}

.loader_component.done .circle_component.c1,
.loader_component.done .circle.c2,
.loader_component.done .circle.c3 {
    animation: rfinal .5s;
}
  
.loader_component.done .loader_component-done { display: block; }

@property --loader_l0 {
    syntax: "<percentage>";
    initial-value: 0%;
    inherits: false;
}

@property --loader_l1 {
    syntax: "<percentage>";
    initial-value: 0%;
    inherits: false;
}

@keyframes rx {
    from { }
    50% { opacity: .6; }
    100% { transform: rotateZ(360deg) rotateX(180deg); }
}
  
@keyframes ry {
    from { }
    60% {
        filter: blur(1px);
        opacity: .4;
    }
    100% { transform: rotateZ(180deg) rotateY(180deg); }
}
  
@keyframes rz {
    from { }
    40% {
        filter: blur(1px);
        opacity: .8;
    }
    100% { transform: rotateZ(180deg) rotateY(-180deg); }
}
  
@keyframes loaderFadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes gradientMove {
    0% {
        --button_b: 0%;
        --button_b_out: 0%;
    }
    33% {
        --button_b: 100%;
        --button_b_out: 0%;
    }
    99% {
        --button_b: 100%;
        --button_b_out: 100%;
    }
    100% {
        --button_b: 0%;
        --button_b_out: 0%;
    }
}
